<%- include('../../partials/head.ejs') -%>
<body>
    <%- include('../../partials/header.ejs') -%>
     <main class="container">
         <h1 class="title-create">EDITAR ITEM</h1>
        <form action="" class="form-admin">
            <div class="form-admin__select">
              <label for="category">Categoría: </label>
              <select name="category" id="category" >
                  
                  <option value="star-wars">Figuras</option>
                  <option value="pokemon"></option>
                  <option value="harry-potter"></option>
              </select>
              <label for="licence">Licencia: </label>
              <select name="licence" id="licence" >
                  <option value="0" selected><%= funko.licence_name %></option>
                  <option value="1">STAR-WARS</option>
                  <option value="2">POKEMON</option>
                  <option value="3">HARRY POTTER</option>
              </select>
            </div>
            <div class="form-admin__product-details">
              <label for="product">Nombre del producto:</label>
              <input class="admin-input" type="text" id="product" name="product"placeholder="<%= funko.product_name %>">
            </div>
            <div class="form-admin__product-details">
                <textarea name="" id="" cols="100" rows="10" placeholder="Descripción del producto"></textarea>
            </div>
            <div class="form-admin__product-details">
                <label for="sku"></label>SKU: <input class="admin-input" type="text" name="sku" placeholder="<%= funko.sku %>">
                <label for="price"></label>Precio: <input class="admin-input" name="price" type="text" placeholder="$ <%= funko.price %>">
                <label for="stock"></label>Stock: <input class="admin-input" type="text" placeholder="<%= funko.stock %>">
            </div>
            <div class="form-admin__product-details">
              <label for="sku"></label>Descuento: <input class="admin-input" type="text" name="sku" placeholder="<%= funko.discount %>%">
              <label for="cuotas">Cuotas: </label>
              <select name="cuotas" id="cuotas">
                <option value="3">3 cuotas sin interés</option>
                <option value="6">6 cuotas sin interés</option>
                <option value="12">12 cuotas sin interés</option>
              </select>
            </div>
            <div class="form-admin__product-details">
              <label for="img">Imágenes: </label><input type="file" accept="image/png,image/jpeg" id="img" capture="user" multiple>
            </div>
            <div class="form-admin__product-details form-admin__img-container" >
              <div>
                <img src="<%= funko.image_front %>" alt="" class="admin-input"><p>Frente</p>
              </div>
              <div>
                <img src="<%= funko.image_back %>" alt="" class="admin-input"><p>Dorso</p>
              </div>
            </div>
            <div class="form-admin__product-details">
              <input class="form-admin__btn" type="submit" value="Modificar producto" >
              
            </div>
        </form>
      
     </main>
     <%- include('../../partials/footer.ejs') -%>
     <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
     
</body>
</html>